@import url('https://fonts.googleapis.com/css?family=Calistoga|Tinos:400,400i,700&display=swap&subset=latin-ext');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */
html {
  font-family: "Tinos";
  font-size: 1.2em;
}

h1 {
  padding-bottom: 1em;
  padding-top: 1em;
  background: black;
}

h2 {
  font-family: "Calistoga";
  font-size: 1.3em;
  padding-left: 1.2em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

#navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  padding-bottom: 1.1em;
}

.nav li {
  font-family: "Calistoga";
  font-size: 0.9em;
  list-style-type: none;
  padding: 0.5em;
  margin-top: -3.5em;
  margin-right: -1.5em;
}

a {
  color: white;
}

main {
  margin-top: -2em;
}

p,
ul {
  padding-left: 1.7em;
  padding-right: 1.7em;
  padding-bottom: 1.5em;
  line-height: 1em;
}

#do img {
  margin-top: -1em;
  margin-left: 0.8em;
  width: 30%;
}

#option {
  font-style: italic;
  font-size: 0.9em;
}

#do-not img {
  margin-left: 1.5em;
  margin-bottom: 1em;
  width: 20%;
}

#do-not {
  list-style-type: disc;
  padding-bottom: 1.1em;
}

#do li,
#do-not li {
  padding-bottom: 1em;
  list-style-type: disc;
  margin-left: 1em;
}

b {
  font-weight: 700;
}

#conclusion img {
  width: 50%;
}

#footer {
  margin-top: 1em;
}

#footer img {
  width: 50%;
}

.copyright {
  font-size: 0.8em;
  text-align: center;
}
